* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e5e5e5;
}
h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: copperplate;
    text-align: center;
    margin-left: auto;
    color: #000;
}
.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#townhall {
    width: 40%;
    border-radius: 20%;
}
.sidebar {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #264653;
    position: fixed;
    overflow:auto;
    box-shadow: 10px 10px 10px 5px #F4A261;
}
.sidebar a {
    text-decoration: none;
    font-size: 15px;
    color: #E9C46A;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: inherit;
  }
  .sidebar a:hover {
    color: #264653;
    background-color: #F4A261;
    margin: 0;
  }
  
